$def with (klp_schools,sik_schools)

<html>
<head>
<script type="text/javascript" src="/js/match.js">
</script>
</head>

<body>

<form id="form1" name="form1" method="post" action="/match">

<input type="hidden" id="klp_value" name="klp_value"/><input type="hidden" id="sikshana_value" name="sikshana_value"/><input type="hidden" id="matched_value" name="matched_value">

<input type="button" value="Match Found" onclick="myfunction();">
<br><br>

<div align="left" style="height: 100%; overflow: auto; width: 50%; float:left;">
<table align="left" width="100%" style="background-color:#000000" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Klp Database</font></h3></td></tr>
</table>
<br>
<table id="klp_table" name="klp_table" align="left" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>School_code</td><td>School_name</td></tr>
</thead>
<tbody> 
$for klpschool in klp_schools:
	<tr onclick="clicks(this,1);"><td>$klpschool[0]</td><td>$klpschool[1]</td></tr>

</tbody>
</table>
</div>

<div align="right" style="height: 100%; width: 50%; float:right;">
<table align="center" width="100%" style="background-color:#000000;" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Sikshana Database</font></h3></td></tr>
</table>

<table id="sikshana_table" name="sikshana_table" align="right" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>School_code</td><td>School_name</td></tr>
</thead>
<tbody>
$for sikschool in sik_schools:
	<tr onclick="clicks(this,2);"><td>$sikschool[0]</td><td>$sikschool[1]</td></tr>
</tbody>
</table>
</div>

</form>
</body>
</html>
