$def with (klp_students,sikshana_students)

<html>
<head>
<script type="text/javascript" src="/js/match.js">
</script>
</head>

<body>

<form id="form1" name="form1" method="post" action="/match">

<input type="hidden" id="sikshana_value" name="sikshana_value"/><input type="hidden" id="klp_value" name="klp_value"/><input type="hidden" id="matched_value" name="matched_value">
<input type="hidden" id="sikshana_value1" name="sikshana_value1"/><input type="hidden" id="klp_value1" name="klp_value1"/>
Filter by Student Name: <input type="text" onkeyup="filter(this.value);">  <input type="button" value="Match Found" onclick="form_submit();">&nbsp;&nbsp;
<input type="button" value="Submit" onclick="form_submit1();">
<br><br>

<div align="left" style="height: 75%;  width: 50%; float:left;">
<table align="left" width="100%" style="background-color:#000000" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Sikshana Data</font></h3></td></tr>
</table>
<br>
<table id="sikshana_table" name="sikshana_table" align="left" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>Student code</td><td>Student name</td></tr>
</thead>
<tbody> 
$for student in sikshana_students:
	<tr onclick="clicks(this,1);"><td>$student[0]</td><td>$student[1]</td></tr>

</tbody>
</table>
</div>

<div align="right" style="height: 75%; width: 50%; float:right;">
<table align="center" width="100%" style="background-color:#000000;" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Klp Data</font></h3></td></tr>
</table>

<table id="klp_table" name="klp_table" align="right" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>Student code</td><td>First name</td><td>Last name</td></tr>
</thead>
<tbody>
$for student in klp_students:
	<tr onclick="clicks(this,2);"><td>$student[0]</td><td>$student[1]</td><td>$student[3]</td></tr>
</tbody>
</table>
</div>
<br>
</form>
</body>
</html>
